* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: aqua;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px red;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 10px;
    padding: 20px;
}

.box1 {
    position: relative;
    left: 50px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    background-image: url('daanbantayan-news.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    max-width: 700px; 
    height: 400px;
}

.box2 {
    position: sticky;
    top: 0;
    right: 0;
    height: 100px;
    width: 50%;
    max-width: 50px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    background-color: #f5f5f5;
}

.box3 {
    position: relative;
    left: 50px;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border: 0px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.6; 
    background-color: #f9f9f9;
    margin-top: 0px;
}

.headline {
    text-align: left;
    top: 40px;
    left: 50px;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 20px 0px;
    font-weight: bold;
}

#headline-word {
    font-size: 35px;
}

#daaaaaaaannn {
    font-weight: bold;
    font-size: 20px;
}

.heads {
    transition: transform 0.3s ease;
    transform: scale(1);
    cursor: pointer; 
}

.heads:hover {
    transform: scale(1.5);
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }

    .headline, .box1, .box2, .box3 {
        position: relative;
        width: 100%;
        margin: 10px 0;
    }

    h1, p {
        text-align: center;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}